{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>EJEMPLO ABOUT</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique qui molestias numquam! Unde ad mollitia ea doloribus illo, dolore doloremque ratione reiciendis tempora enim optio sapiente accusantium! Optio, laborum quos.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/img1.jpeg" alt=""class="img-thumbnail" >
    </div>
    
</div>
{{> footer }}